.main-message{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.resubmit-button{
    margin-top: 2rem;
    text-align: center;
}

.return-login{
    margin-top: 5rem;
    text-align: center;
}

.flash-message{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: blue;
}